// app global css in SCSS form

.type-Normal {
  color: #a8a77a;
}

.type-Fire {
  color: #ee8130;
}

.type-Water {
  color: #6390f0;
}

.type-Electric {
  color: #f7d02c;
}

.type-Grass {
  color: #7ac74c;
}

.type-Ice {
  color: #96d9d6;
}

.type-Fighting {
  color: #c22e28;
}

.type-Poison {
  color: #a33ea1;
}

.type-Ground {
  color: #e2bf65;
}

.type-Flying {
  color: #a98ff3;
}

.type-Psychic {
  color: #f95587;
}

.type-Bug {
  color: #a6b91a;
}

.type-Rock {
  color: #b6a136;
}

.type-Ghost {
  color: #735797;
}

.type-Dragon {
  color: #6f35fc;
}

.type-Dark {
  color: #705746;
}

.type-Steel {
  color: #b7b7ce;
}

.type-Fairy {
  color: #d685ad;
}

.text {
  margin: 0;
}
